body{
  margin: 0;
  padding: 0;
    background-color:rgb(197, 195, 195);
}

.app-container {
    align-items:center;
    justify-content: center;
  }
  
  .button-download {
    margin-top: 20px;
  }
  